{% extends "base/base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/front.css">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="content_picture"></div>
        <div class="hello">Hello! I am a website for puha!</div>
        <div class="speech">Blah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-bBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-bBlah-blahBlah-blahBlah-blahB
            lah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-bBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-bBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-blahBlah-bahBlah-blah</div>
    </div>
{% endblock %}