{% extends "base/base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/gallery.css">
    <script src="/static/js/gallery.js"></script>
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="left-panel">
            {% for pic in pics %}
                <div class="preview js-preview" data-fullsize-url="{{ pic.url }}">
                    <img class="preview__img" src="{{ pic.preview_url }}">
                </div>
            {% endfor %}
        </div>
        <div class="main-container">
            <div class="picture">
                <img class="picture__img js-fullsize-img">
            </div>
        </div>
    </div>
{% endblock %}
