{% extends "base/base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/front.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="front-container">
        <div class="content-block">
            <div class="hello">About</div>
            <img class="about-image" src="/static/image/litso.png">
            <div class="speech">
                Hi everyone! Glad to see you here.
                I'm a self-touht artist and I'm obsessed with colours, beautiful girls, fantasy and whatever I find
                inspiring! My main work consists of illustrations and I'll be glad to draw your character
                (totally not advertising myself)
            </div>
        </div>
    </div>
{% endblock %}