{% extends "base/base.html" %}

{% block head %}
    <script src="/static/js/gallery/gallery.js"></script>
    <script src="/static/js/gallery/justified-gallery.js"></script>
    <script src="/static/js/gallery/magnific-popup.js"></script>
    <link rel="stylesheet" href="/static/css/gallery/justified-gallery.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/gallery/gallery.css">
    <link rel="stylesheet" type="text/css" href="/static/css/gallery/magnific-popup.css">
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="justified-gallery">
            {% for pic in pics %}
                <a href="{{ pic.url }}">
                    <img class="preview" alt="caption for image 1" src="{{ pic.preview_url }}"/>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
