
.hello {
    font-family: Jamrul;
    font-size: 40px;
    opacity: 0.9;
}

.speech {
    font-size: 20px;
    position: center;
    padding: 100px;
    opacity: 0.9;
    width: 50%;
}
.content {

}

.content_picture {
    background-image: url(https://wallpapercave.com/wp/wp1923711.jpg);
    height: 100%;
    width: 100%;
    position: absolute;
}