header {
  position: fixed;
  text-align: left;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  background-image: url(https://sun1-8.userapi.com/c846321/v846321514/107c40/B9XEBnp0JTI.jpg);
  background-position: left;
  z-index: 10;
}

.button {
  color: #f8f8f8;
  font-family: Oswald , sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 20px;
  opacity: 0.7;
  padding: 10px;
  display: inline-block;
  z-index: 10;
}
.button_left {
  color: #f8f8f8;
  float: right;
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  margin-right: 20px;
  opacity: 0.8;
  padding: 10px;
  display: inline-block;
  z-index: 10;
}


.full_button {
  color: #003366;
  text-size: 15px;
}

