
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
{% endblock %}


<a href="/" class="button"><h3>About</h3></a>
<a href="/gallery" class="button"><h3>gallery</h3></a>
<a href="https://vk.com/shtoletsdraw" class="button_left"target="_blank"><h3>VK</h3></a>
<a href="https://www.deviantart.com/shtolets" class="button_left"target="_blank"><h3>DeviantArt</h3></a>
<a href="https://www.artstation.com/shtolets" class="button_left" target="_blank"><h3>ArtStation</h3></a>