
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">
{% endblock %}


<a href="/" class="button"><div>About</div></a>
<a href="/gallery" class="button"><div>Gallery</div></a>
<a href="https://vk.com/shtoletsdraw" class="button_left"target="_blank"><div>VK</div></a>
<a href="https://www.deviantart.com/shtolets" class="button_left"target="_blank"><div>DeviantArt</div></a>
<a href="https://www.artstation.com/shtolets" class="button_left" target="_blank"><div>ArtStation</div></a>