
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">
{% endblock %}


<a href="/" class="header-item"><b>About</b></a>
<a href="/gallery" class="header-item"><b>Gallery</b></a>
<span class="social-links">
    <a href="https://vk.com/shtoletsdraw" class="header-item"target="_blank"><div>VK</div></a>
    <a href="https://www.deviantart.com/shtolets" class="header-item"target="_blank"><div>DeviantArt</div></a>
    <a href="https://www.artstation.com/shtolets" class="header-item" target="_blank"><div>ArtStation</div></a>
</span>
